.socials.socials__item--vk{
    width: rem(40px); height: rem(25px);
    background: url('../icon/css_sprites.png')rem(-50px) rem(-50px);
}

.socials.socials__item--facebook
{    width: rem(40px); height: rem(25px);
    background: url('../icon/css_sprites.png')rem(-10px) rem(-10px);

}


.socials.socials__item--instagram{ 
    width: rem(40px); height: rem(25px);
    background: url('../icon/css_sprites.png')rem(-50px) rem(-10px);

}


.socials.socials__item--tviter{
    width: rem(40px); height: rem(25px);
    background: url('../icon/css_sprites.png')rem(-10px) rem(-54px);
}

.footer__street--phone{
    flex:1;
}

.socials__list{
    display: flex;
    justify-content: flex-end;
}