.html {
  font-size: 18px;
}

@media screen and (max-width: 768px) {
  .html {
    font-size: 17px;
  }
}

@media screen and (max-width: 480px) {
  .html {
    font-size: 18px -2px;
  }
}

.bodu {
  height: 100%;
}

body {
  margin: 0;
  color: #666666;
  font-family: 'Alegreya Sans', sans-serif;
  line-height: 1.42;
  position: relative;
}

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 1100px;
  width: 95%;
  position: relative;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: normal;
}

table {
  border-collapse: collapse;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
}

footer {
  position: relative;
  width: 100%;
  height: 92px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

.hero {
  background: #61C4D9 url(../img/yzorHero.png) no-repeat right;
  height: 100vh;
  min-height: 650px;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .hero::before, .hero::after {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .hero {
    background-position: right bottom 88%;
  }
}

.hero__container {
  background: url(../img/comp.png) no-repeat right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

@media screen and (max-width: 768px) {
  .hero__container {
    background: none;
  }
}

.hero__title-section {
  margin-top: 5.55556rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 768px) {
  .hero__title-section {
    width: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    margin: 0;
  }
}

@media screen and (max-width: 768px) {
  .hero__title-section::before {
    content: "";
    width: 19.44444rem;
    height: 19.44444rem;
    background: url(../img/comp.png) center center no-repeat;
    margin-bottom: 0.88889rem;
    background-size: contain;
  }
}

@media screen and (max-width: 768px) and (max-width: 480px) {
  .hero__title-section::before {
    height: 16.66667rem;
  }
}

.hero__main-title {
  font-weight: bold;
  font-size: 3.77778rem;
  line-height: 3.77778rem;
  width: 33.33333rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  .hero__main-title {
    font-size: 2.77778rem;
    width: 100%;
    margin: 0;
    line-height: 1;
  }
}

@media screen and (max-width: 768px) and (max-width: 480px) {
  .hero__main-title {
    width: 100%;
    margin: 0;
  }
}

.hero__title-desc {
  margin-bottom: 3.88889rem;
  width: 22.22222rem;
  font-size: 1.11111rem;
  line-height: 1.61111rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media screen and (max-width: 768px) {
  .hero__title-desc {
    padding: 0.11111rem;
    margin: 0.83333rem;
    line-height: 1rem;
    font-size: 0.88889rem;
  }
}

@media screen and (max-width: 480px) {
  .hero__title-desc {
    padding: 0;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .hero__icon-section {
    display: none;
  }
}

.header {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .phone-number.header__phone-number {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  a.phone-number {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__item {
  margin-right: 0.83333rem;
}

.menu__item:last-child {
  margin-right: 0;
}

.menu__link {
  white-space: nowrap;
  text-decoration: none;
}

.icon__phone {
  margin-right: 0.27778rem;
}

.phone-number {
  font-size: 1.33333rem;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.features__item {
  margin-right: 4.44444rem;
}

.features__item:last-child {
  margin-right: 0;
}

.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feature__icon {
  width: 2.5rem;
  margin-right: 0.38889rem;
}

.feature__text {
  font-size: 1.05556rem;
  max-width: 4.72222rem;
}

.section {
  height: 100vh;
  min-height: 650px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section--font-color--green {
  color: #365A49;
}

.section--font-color--green.section__title {
  color: inherit;
}

.section__title {
  text-transform: uppercase;
  font-size: 2.66667rem;
  font-weight: bold;
  margin-bottom: 2.22222rem;
  text-align: center;
  color: #000;
}

@media screen and (max-width: 768px) {
  .section__title {
    margin-bottom: 0;
  }
}

.headline {
  margin-bottom: 5.55556rem;
  text-align: center;
}

.headline__title {
  margin-bottom: 1.38889rem;
}

.headline__subtitle {
  padding: 0 26%;
}

@media screen and (max-width: 480px) {
  .headline__subtitle {
    padding: 0 5%;
  }
}

.headline {
  margin-bottom: 5.55556rem;
  text-align: center;
}

.headline__title {
  margin-bottom: 1.38889rem;
}

.benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 480px) {
  .benefits {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 480px) {
  .benefit__text {
    margin-left: 20px;
  }
}

.benefits__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 3%;
  position: relative;
}

@media screen and (max-width: 480px) {
  .benefits__item {
    padding: 0;
    margin-bottom: 20px;
  }
  .benefits__item:last-child {
    margin: 0;
  }
}

.benefits__item:before {
  content: url(../img/Combinedshape.png);
  position: absolute;
  top: 1.66667rem;
  right: 0;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

@media screen and (max-width: 480px) {
  .benefits__item:before {
    display: none;
  }
}

.benefits__item:first-child {
  padding-left: 0;
}

.benefits__item:before:first-child {
  padding-left: 0;
}

.benefits__item:last-child:before {
  display: none;
}

.benefit__title {
  color: black;
  font-size: 1.5rem;
  line-height: 1.77778rem;
  font-weight: bold;
}

.benefits__item:first-child {
  padding-left: 0;
}

.benefits__item:last-child {
  padding-right: 0;
}

.benefits__item:before:last-child {
  display: none;
}

.benefit {
  text-align: center;
}

@media screen and (max-width: 480px) {
  .benefit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: left;
  }
}

.benefit__image-wrapper {
  display: inline-block;
  width: 7rem;
  height: 7rem;
  position: relative;
  background: #F2F5F4;
  border-radius: 50%;
  overflow: hidden;
}

.benefit__icon {
  width: 4.16667rem;
  height: 3.83333rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.benefits-section {
  position: relative;
  background: url(../img/list1.png) left top 57% no-repeat;
}

@media screen and (max-width: 480px) {
  .benefits-section {
    background: none;
  }
}

.benefits-section:before {
  content: url(../img/malina.png);
  position: absolute;
  bottom: -4.44444rem;
  left: 0;
}

@media screen and (max-width: 480px) {
  .benefits-section:before {
    display: none;
  }
}

.reviews-section {
  background: url(../img/Yagada1.png) no-repeat right top, url(../img/Yagada22.png) no-repeat bottom left, url(../img/Yzor1.png) no-repeat left bottom;
}

.reviews-section:before {
  background: url(../img/Yzor1.png);
}

.reviews__display {
  background: #f8faf9 url(../img/sloi.png) no-repeat right top;
  padding: 2.77778rem 2.5rem 1.88889rem;
  margin-bottom: 1.11111rem;
  overflow: hidden;
  position: relative;
}

.reviews__display:before {
  position: absolute;
  content: "";
  display: block;
  width: 5rem;
  height: 5rem;
  background: #fff;
  border-radius: 50%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  top: -3.61111rem;
}

.reviews__display-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 768px) {
  .reviews__display-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.reviews__avatar {
  width: 14.11111rem;
  height: 14.44444rem;
}

@media screen and (max-width: 768px) {
  .reviews__avatar {
    width: 7.22222rem;
    height: 7.33333rem;
  }
}

.reviews__avatar-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.reviews__content {
  margin-left: 1.11111rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.reviews__title {
  font-size: 1.66667rem;
  font-weight: bold;
  margin-bottom: 1.22222rem;
  color: black;
}

.reviews__text {
  padding-right: 2.27778rem;
  margin-bottom: 2rem;
}

.reviews__author {
  color: black;
  font-size: 1rem;
  font-weight: bold;
}

.reviews__switcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.interactive-avatar {
  width: 4.44444rem;
  height: 4.44444rem;
  border: 0.33333rem solid transparent;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

.interactive-avatar--active {
  border-color: #0f5a47;
}

.interactive-avatar__link {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
}

.interactive-avatar__img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.order-section {
  margin-top: 5.55556rem;
  background: url(../img/front.png);
  background: url(../img/listoc.png) no-repeat right top 88%, url(../img/shernika.png) left 10% top 88% no-repeat, url(../img/front.png);
}

@media screen and (max-width: 768px) {
  .order-section::before {
    background: none;
  }
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 768px) {
  .form {
    padding: 0%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 480px) {
  .form {
    padding: 0;
  }
}

.form__col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 15px;
}

@media screen and (max-width: 768px) {
  .form__col {
    margin: 0;
  }
}

@media screen and (max-width: 480px) {
  .form__col {
    margin: 0;
  }
}

.form__col:last-child {
  margin-right: 0;
}

@media screen and (max-width: 768px) {
  .form__col:last-child {
    margin-right: 0;
  }
}

.form__row {
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form__block {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 1.11111rem;
}

.form__block:last-child {
  margin-right: 0;
}

.form__input {
  width: 100%;
  border: none;
  padding: 1rem 0.61111rem;
  border: solid 0.16667rem transparent;
}

.form__input--textaria {
  height: 10rem;
  resize: none;
}

.form__input:focus {
  border-color: #dee2bd;
  outline: none;
}

.form__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 0.83333rem;
}

.form__row:last-child {
  margin: 0;
}

.form__contros.radio__visible {
  background: url(../img/okye.png) center center no-repeat;
}

.form__btns {
  margin-top: 2.22222rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.radio {
  margin-right: 0.83333rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.radio--checkbox.radio__visible {
  border-radius: 0;
}

.radio__elem {
  display: none;
}

.radio__elem:checked ~ .radio__visible::before {
  display: block;
}

.radio__visible {
  width: 1.44444rem;
  height: 1.44444rem;
  position: relative;
  border-radius: 50%;
  background: #fff;
}

.radio__visible::before {
  content: "";
  width: 0.77778rem;
  height: 0.77778rem;
  background: #365A49;
  border-radius: 50%;
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.radio__title {
  margin-left: 0.55556rem;
}

.ham {
  position: fixed;
  z-index: 1000;
  top: 20px;
  right: 20px;
  width: 36px;
  height: 36px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  background-image: url("https://ljc-dev.github.io/testing0/ham.svg");
  background-size: 100%;
  display: none;
}

@media screen and (max-width: 768px) {
  .ham {
    display: inline;
  }
}

.showClose {
  background-image: url("https://ljc-dev.github.io/testing0/ham-close.svg");
}

.navbar {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  background: black;
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: white;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
  z-index: 999;
}

.showNav {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.menuLink {
  font-size: 30px;
  text-decoration: none;
}

.menu__Link {
  margin: auto;
}

.btn {
  font-size: 1.05556rem;
  font-weight: bold;
  padding: 1.38889rem 2.05556rem;
  text-transform: uppercase;
  border-radius: 5.55556rem;
  line-height: 1;
  text-decoration: none;
  display: inline-block;
  border: none;
}

.btn--theme--white {
  width: 8.83333rem;
  background: #fff;
  color: #365A49;
}

.btn--theme--white:hover {
  color: #fff;
  background: #365A49;
}

.btn--theme--green {
  font-size: 0.88889rem;
  line-height: 1rem;
  background: #365A49;
  color: #fff;
}

.btn--theme--green:hover {
  color: #365A49;
  background: #fff;
}

.btn--theme--transparent {
  color: #497870;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.22222rem;
  background: transparent;
  text-transform: none;
}

.btn--theme--transparent:hover {
  color: #F2F5F4;
}

.fixed-menu {
  position: fixed;
  top: 20%;
  right: 3%;
}

.fixed-menu__item {
  margin-bottom: 0.27778rem;
}

.fixed-menu__item--active .fixed-menu__link {
  border-color: white;
}

.fixed-menu__link {
  width: 0.88889rem;
  height: 0.88889rem;
  border-radius: 50%;
  border: 0.05556rem solid transparent;
  display: block;
  position: relative;
}

.fixed-menu__link:before {
  content: "";
  display: block;
  width: 0.33333rem;
  height: 0.33333rem;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.fixed-menu__item:last-child {
  margin: 0;
}

.socials__item--vk {
  width: 2.22222rem;
  height: 1.38889rem;
  background: url("../icon/css_sprites.png") -2.77778rem -2.77778rem;
}

.socials__item--facebook {
  width: 2.22222rem;
  height: 1.38889rem;
  background: url("../icon/css_sprites.png") -0.55556rem -0.55556rem;
}

.socials__item--instagram {
  width: 2.22222rem;
  height: 1.38889rem;
  background: url("../icon/css_sprites.png") -2.77778rem -0.55556rem;
}

.socials__item--tviter {
  width: 2.22222rem;
  height: 1.38889rem;
  background: url("../icon/css_sprites.png") -0.55556rem -3rem;
}

.footer__street--phone {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.socials__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media screen and (max-width: 768px) {
  .dropdown {
    display: none;
  }
}

.shope__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0rem;
  margin-top: 4.16667rem;
}

@media screen and (max-width: 768px) {
  .shope__item {
    width: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .shope__img {
    display: block;
    width: 250px;
    height: 250px;
    background: url(../img/shope/shope.png) center center;
    background-size: contain;
  }
}

.shope__title {
  margin-top: 1.27778rem;
  font-weight: bold;
  font-size: 2rem;
  line-height: 2.38889rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-transform: uppercase;
  color: #292929;
  width: 20rem;
}

@media screen and (max-width: 768px) {
  .shope__title {
    width: 500px;
  }
}

@media screen and (max-width: 480px) {
  .shope__title {
    width: 450px;
  }
}

@media screen and (max-width: 768px) {
  .batonhics {
    display: none;
  }
}

.shope__text {
  width: 17.5rem;
  margin-bottom: 2.55556rem;
}

@media screen and (max-width: 768px) {
  .shope__text {
    width: 500px;
  }
}

@media screen and (max-width: 480px) {
  .shope__text {
    width: 450px;
    padding: 7px;
  }
}

.shope__desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.33333rem;
}

@media screen and (max-width: 768px) {
  .shope__desc {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.shope__descblock {
  margin-right: 2.22222rem;
}

.shope__descblock:last-child {
  margin: 0;
}

.shope__descvalut {
  color: #000000;
  font-size: 1rem;
  line-height: 1.22222rem;
  font-weight: bold;
}

.shope__descvalutblock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 768px) {
  .shope__descvalutblock {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.shope__descvalutp {
  width: 7.22222rem;
  color: #151515;
  font-size: 3.33333rem;
  line-height: 3.33333rem;
}

.shope__section {
  background: url(../img/shope/hernica.jpg) no-repeat right bottom, url(../img/shope/Yzor.png) no-repeat right bottom, #F8FAF9;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 768px) {
  .slider::before {
    background: url(../img/shope/shope.png);
  }
}

.slider__img {
  margin-top: 295px;
}

.clikc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.shope__clikc {
  display: block;
  position: absolute;
  border-radius: 0.2777777778rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #1e1f20;
  background: #EDEDED;
  right: -13.3333333333rem;
  margin-top: -100%;
  padding: 0.8333333333rem;
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  width: 13.3333333333rem;
}

.shope__clikc :last-child {
  margin: 0;
}

.dropdown:hover .shope__clikc {
  opacity: 1;
}

.dropdown {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  position: relative;
  cursor: pointer;
}

.grape {
  width: 1.94444rem;
  height: 1.77778rem;
  background: url(../img/shope/srite/spritesheet.png)-47px-47px;
}

.nut {
  width: 1.94444rem;
  height: 1.77778rem;
  background: url(../img/shope/srite/spritesheet.png)-89px-5px;
}

.almond {
  width: 1.94444rem;
  height: 1.77778rem;
  background: url(../img/shope/srite/spritesheet.png)-5px-5px;
}

.washing-powder {
  width: 1.94444rem;
  height: 1.77778rem;
  background: url(../img/shope/srite/spritesheet.png)-89px-47px;
}

.apitherapy {
  width: 1.94444rem;
  height: 1.77778rem;
  background: url(../img/shope/srite/spritesheet.png)-47px-5px;
}

.beans {
  width: 1.94444rem;
  height: 1.77778rem;
  background: url(../img/shope/srite/spritesheet.png)-5px-47px;
}

.recept {
  margin-bottom: 0.55556rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.recept__text {
  font-weight: bold;
  font-family: Alegreya Sans;
  font-style: normal;
  font-size: 0.83333rem;
  line-height: 1.33333rem;
  width: 8.33333rem;
  margin-left: 0.72222rem;
}

.recept__gramm {
  font-style: normal;
  font-weight: normal;
  font-size: 0.88889rem;
  line-height: 1.33333rem;
  width: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: right;
}
/*# sourceMappingURL=main.css.map */